<!--<script src="../clients/clients.component.ts"></script>-->
<h1>Материалы</h1>
<button
  class="btn btn-outline-blue" type="button" data-toggle="modal" data-target="#addModal"  (click)="add()">Новый
</button>
<table class="table table-hover">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
        ^
      </button>
    </th>
    <th>Тип
      <!--<select (change)="onChangeType($event.target.value)" class="btn-primary btn dropdown-toggle waves-light">-->
      <!--<option value='-1'>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
      <!--<option *ngFor="let item of getTypes()" value={{item}}>{{item}}</option>-->
      <!--</select>-->
    </th>
    <th>Цвет</th>
    <th>Толщина</th>
    <th>Длина</th>
    <th>Ширина</th>
    <th>Стоимость</th>
    <th>Примечание</th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
  <tr class="collapse" id="collapseExample">
    <td></td>
    <td *ngIf="materialsOriginal">
      <select (change)="onChangeType($event.target.value)" class="btn-primary btn dropdown-toggle waves-light">
        <option class="btn-lg btn" value='-1'>выбрать фильтр</option>
        <option class="btn-lg btn" *ngFor="let item of getTypes()" value={{item}}>{{item}}</option>
      </select>
    </td>
    <td *ngIf="materialsOriginal">
      <select (change)="onChangeDepht($event.target.value)" class="btn-primary btn dropdown-toggle waves-light">
        <option class="btn-lg btn" value='-1'>выбрать фильтр</option>
        <option class="btn-lg btn" *ngFor="let item of getDepths()" value={{item}}>{{item}}</option>
      </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let item of service.materials" routerLink="/material/{{item.id}}">
    <td></td>
    <td>{{item.type.name}}</td>
    <td>{{item.color.name}}</td>
    <td>{{item.depth}} мм</td>
    <td>{{item.length}} мм</td>
    <td>{{item.width}} мм</td>
    <td>{{item.price}} руб.</td>
    <td>{{item.description}}</td>
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="edit(item)">Edit</button>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="delete(item)">x</button>-->
    <!--</td>-->
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Новый материал</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table" *ngIf="newItem">
          <thead>
          <tr>
            <th class="column1"></th>
            <th></th>
            <th class="column1"></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Цвет</td>
            <td>
              <select (change)="changeColor($event.target.value)" class="custom-select">
                <option *ngFor="let item of colorService.materialColors" value={{item.id}}>{{item.name}}</option>
              </select>
            </td>

            <td>Тип</td>
            <td>
              <select (change)="changeType($event.target.value)" class="custom-select">
                <option *ngFor="let item of typeService.materialTypes" value={{item.id}}>{{item.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Длина, мм</td>
            <td>
              <input [(ngModel)]="newItem.length" type="number"  class="form-control">
            </td>

            <td>Ширина, мм</td>
            <td>
              <input [(ngModel)]="newItem.width" type="number"  class="form-control">
            </td>
          </tr>
          <tr>
            <td>Толщина, мм</td>
            <td>
              <input [(ngModel)]="newItem.depth" type="number"  class="form-control">
            </td>

            <td>Цена, руб.</td>
            <td>
              <input [(ngModel)]="newItem.price" type="number"  class="form-control">
            </td>
          </tr>
          <tr>
            <td>Примечание</td>
            <td colspan="3">
              <textarea [(ngModel)]="newItem.description" class="form-control"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-outline-green waves-light" (click)="saveNew()"
           data-dismiss="modal">Сохранить</a>
        <a type="button" class="btn btn-outline-gray waves-light" data-dismiss="modal">Отменить</a>
      </div>
    </div>
  </div>
</div>

