<h1>Типы материалов</h1>
<button
  class="btn btn-outline-blue" type="button" data-toggle="modal" data-target="#addModal" (click)="add()">Новый
</button>
<table class="table table-hover">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>Название</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of service.materialTypes">
    <td *ngIf="!isEdit">{{item.name}}</td>
    <td *ngIf="isEdit" class="input-group mb-3">
      <input [(ngModel)]="item.name" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-outline-green" type="button" title="Сохранить" (click)="save(item)">Save</button>
        <button class="btn btn-outline-gray" type="button" title="Отменить изменения" (click)="cancel(item)">
          Cancel
        </button>
      </div>
    </td>
    <td *ngIf="!isEdit">
      <button class="btn btn-outline-green" title="Редактировать" (click)="edit()">Edit</button>
      <button *ngIf="!isEdit" class="btn btn-outline-red" title="Удалить" data-toggle="modal" data-target="#deleteModal"
              (click)="glass_service.id = item.id; glass_service.service = service">Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>

<app-delete-request #glass_service></app-delete-request>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Новый цвет материала</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">
          <tbody>
          <tr>
            <td>Тип</td>
            <td>
              <input *ngIf="newItem" [(ngModel)]="newItem.name" class="form-control">
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-outline-green waves-light" (click)="saveNew()"
           data-dismiss="modal">Сохранить</a>
        <a type="button" class="btn btn-outline-gray waves-light" data-dismiss="modal">Отменить</a>
      </div>
    </div>
  </div>
</div>
