<h1>Клиенты</h1>
<table class="table table-hover">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>Тип клиента</th>
    <th>ФИО</th>
    <th>ИНН</th>
    <th>Рассчетный счет</th>
    <th>Телефон</th>
    <th>email</th>
    <th>Скидка, %</th>
    <th>Комментарий</th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of clients" routerLink="/client/{{item.id}}">
    <td>{{item.type}}</td>
    <td>{{item.name}}</td>
    <td>{{item.inn}}</td>
    <td>{{item.account}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.email}}</td>
    <td>{{item.discount}}</td>
    <td>{{item.desc}}</td>
    <!--<td>-->
      <!--<button class="delete" title="delete reception"-->
              <!--(click)="edit(item)">Edit</button>-->
    <!--</td>-->
    <!--<td>-->
      <!--<button class="delete" title="delete reception"-->
              <!--(click)="delete(item)">x</button>-->
    <!--</td>-->
  </tr>
  </tbody>
</table>
