<div class="card" *ngIf="orderItem">
  <div class="card-header primary-color lighten-1 white-text">
    <!--<h2>Работа: {{ orderItem }}</h2>-->
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Толщина материала, мм</td>
        <td>{{orderItem.material.depth}}</td>
        <!--<td *ngIf="idSelectedMaterial">{{depth}}</td>-->
        <!--<td *ngIf="!idSelectedMaterial">-->
          <!--<input [(ngModel)]="depth" type="number" class="card-text">-->
        <!--</td>-->

        <td>Количество, шт.</td>
        <td *ngIf="disabled">{{orderItem.count}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="orderItem.count" type="number" class="card-text">
        </td>
      </tr>
      <tr>
        <td>Материал</td>
        <!--<td colspan="3">-->
        <td>{{orderItem.material.type.name}}</td>
          <!--<select (change)="onChangeMaterial($event.target.value)" class="custom-select">-->
            <!--<option *ngIf="isEmptyMaterialsList" value="-1">Нет материалов с шириной {{depth}}</option>-->
            <!--<option selected *ngIf="!isEmptyMaterialsList && !idSelectedMaterial" value="-1">-->
              <!--Ваберите материал-->
            <!--</option>-->
            <!--<option *ngFor="let item of orderItem.process"-->
                    <!--value={{item.id}}>{{item.type.name + ' : ' + item.depth + ' мм'}}-->
            <!--</option>-->
          <!--</select>-->
        <!--</td>-->

        <td>Цвет материала</td>
        <!--<td colspan="3">-->
        <td>{{orderItem.material.color.name}}</td>
      </tr>

      <tr>
        <td>Длина, мм</td>
        <td *ngIf="disabled">{{orderItem.length}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="orderItem.length" type="number" class="card-text">
        </td>

        <td>Ширина, мм</td>
        <td *ngIf="disabled">{{orderItem.width}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="orderItem.width" type="number" class="card-text">
        </td>
      </tr>

      <tr>
        <td>Описание</td>
        <td *ngIf="disabled" colspan="3">{{orderItem.desc}}</td>
        <td colspan="3" *ngIf="!disabled">
          <textarea [(ngModel)]="orderItem.desc" class="card-text form-control"></textarea>
        </td>
      </tr>
      <tr>
        <td>Обработка
          <button *ngIf="!disabled" (click)="updateProcess()"
                  class="btn btn-outline-blue" type="button" data-toggle="modal" data-target="#addModal">
            Новый
          </button>
        </td>
        <td colspan="3">
          <table class="table">
            <tbody>
            <tr *ngFor="let process of orderItem.process">
              <td>{{process.type.name + ' : ' + process.depth + ' мм.'}}</td>
              <td>
                <a *ngIf="!disabled" class="btn btn-outline-red waves-light" data-toggle="modal" data-target="#deleteProcessModal"
                   (click)="deleteProcess(process.id)">Удалить</a>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="card-body actions">
    <!--<h4 class="card-title">Special title treatment</h4>-->
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.  p>-->
    <a *ngIf="disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="edit()">Редактировать</a>
    <a *ngIf="!disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="save()">Сохранить</a>
    <a *ngIf="!disabled" class="btn btn-outline-gray waves-light" mdbWavesEffect (click)="cancel()">Отменить</a>
    <!--<a *ngIf="disabled" class="btn btn-red waves-light" mdbWavesEffect (click)="delete()">Удалить</a>-->
    <a *ngIf="disabled" class="btn btn-outline-red waves-light" data-toggle="modal" data-target="#deleteModal"
       (click)="glass_service.id = orderItem.id; glass_service.service = service; glass_service.isGoBack = true">Удалить</a>
    <a *ngIf="disabled" class="btn btn-outline-orange waves-light" mdbWavesEffect (click)="goBack()">Назад</a>
  </div>
</div>

<app-delete-request #glass_service></app-delete-request>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Добавить обработку</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">

          <tbody>
          <tr>
            <td>Работа</td>
            <td>
              <select (change)="onChangeProcess($event.target.value)" class="custom-select">
                <option *ngIf="isEmptyProcessList" value="-1">Нет работ для такого материала</option>
                <option selected *ngIf="!isEmptyProcessList && !idSelectedProcess" value="-1">
                  Ваберите работу
                </option>
                <option *ngFor="let item of processByMaterial"
                        value={{item.id}}>{{item.type.name + ' : ' + item.depth + ' мм'}}
                </option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-outline-green waves-light" (click)="addProcess()"
           data-dismiss="modal">Добавить</a>
        <a type="button" class="btn btn-outline-gray waves-light" (click)="cancelAddItem()" data-dismiss="modal">Отменить</a>
      </div>
    </div>
  </div>
</div>
