<div class="card" *ngIf="order">
  <div class="card-header primary-color lighten-1 white-text">
    <h2>Заказ {{ order.number }}</h2>
  </div>
  <div class="card-body">
    <!--<h4 class="card-title">{{order}}</h4>-->
    <table class="table">
      <thead>
      <tr>
        <th class="column1"></th>
        <th></th>
        <th class="column1"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Клиент</td>
        <td>{{order.clientName}}</td>

        <td>Точка приема заказов</td>
        <td>{{order.reception}}</td>
      </tr>
      <tr>
        <td>Сумма, руб</td>
        <td>{{order.summa}}</td>

        <td>Сумма со скидкой, руб.</td>
        <td>{{order.discountSum}}</td>
      </tr>
      <tr>
        <td>Описание</td>
        <td *ngIf="disabled">{{order.description}}</td>
        <td *ngIf="!disabled" colspan="3">
          <textarea [(ngModel)]="order.description" class="card-text form-control"></textarea>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <h5>Состав заказа</h5>
    <button *ngIf="!disabled" (click)="add(); update()"
            class="btn btn-outline-blue" type="button" data-toggle="modal" data-target="#addModal">
      Новый
    </button>

    <table class="table table-hover">
      <thead class="blue-grey lighten-4">
      <tr>
        <th>N</th>
        <th>Толщина</th>
        <th>Тип</th>
        <th>Длина</th>
        <th>Ширина</th>
        <th>Площадь</th>
        <th>Периметр</th>
        <th>Работы</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th>Сумма</th>
        <th>Примечание</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order.items let num = 'index'" routerLink="/order/item/{{item.id}}">
        <th scope="row">{{num + 1}}</th>
        <td>{{item.material.depth}} мм</td>
        <td>{{item.material.type.name}}</td>
        <td>{{item.length}} мм</td>
        <td>{{item.width}} мм</td>
        <td>{{item.area}} мм2</td>
        <td>{{item.perimeter}} мм</td>
        <td>
          <table class="table table-hover">
            <tr *ngFor="let process of item.process">
              <td>{{process.type.name}}</td>
            </tr>
          </table>
        </td>
        <td>{{item.count}}</td>
        <td>{{item.material.price}} руб.</td>
        <td>{{item.summa}} руб</td>
        <td>{{item.description}}</td>
        <!--<td>-->
        <!--<button class="delete" title="delete order"-->
        <!--(click)="edit(item)">Edit</button>-->
        <!--</td>-->
        <!--<td>-->
        <!--<a *ngIf="disabled" class="btn btn-outline-red waves-light" data-toggle="modal" data-target="#deleteModal"-->
        <!--(click)="glass_service.id = item.id; glass_service.service = orderItemService; glass_service.isGoBack = false">Удалить</a>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card-body actions">
    <a *ngIf="disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="edit()">Редактировать</a>
    <a *ngIf="!disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="save()">Сохранить</a>
    <a *ngIf="!disabled" class="btn btn-outline-gray waves-light" mdbWavesEffect (click)="cancel()">Отменить</a>
    <a *ngIf="disabled" class="btn btn-outline-red waves-light" data-toggle="modal" data-target="#deleteModal"
       (click)="glass_service.id = order.id; glass_service.service = service; glass_service.isGoBack = true">Удалить</a>
    <a *ngIf="disabled" class="btn btn-outline-orange waves-light" mdbWavesEffect (click)="goBack()">Назад</a>
  </div>
</div>

<app-delete-request #glass_service></app-delete-request>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" *ngIf="newItem">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Добавить материал в заказ</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Толщина материала, мм</td>
            <td *ngIf="idSelectedMaterial">{{depth}}</td>
            <td *ngIf="!idSelectedMaterial">
              <input [(ngModel)]="depth" type="number" class="card-text" (input)="update()"
                     required #materialDepth="ngModel">
              <div *ngIf="materialDepth.invalid && (materialDepth.dirty || materialDepth.touched)"
                   class="alert alert-danger">
                <div *ngIf="materialDepth.errors.required">
                  Это поле обязательное
                </div>
              </div>
            </td>

            <td>Количество, шт.</td>
            <td>
              <input [(ngModel)]="newItem.count" type="number" class="card-text"
                     required #count="ngModel">
              <div *ngIf="count.invalid && (count.dirty || count.touched)"
                   class="alert alert-danger">
                <div *ngIf="count.errors.required">
                  Это поле обязательное
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Материал</td>
            <td colspan="3">
              <select (change)="onChangeMaterial($event.target.value)" class="custom-select">
                <option *ngIf="isEmptyMaterialsList" value="-1">Нет материалов с шириной {{depth}}</option>
                <option selected *ngIf="!isEmptyMaterialsList && !idSelectedMaterial" value="-1">
                  Ваберите материал
                </option>
                <option *ngFor="let item of materialsByDepth"
                        value={{item.id}}>{{item.type.name + ' : ' + item.depth + ' мм'}}
                </option>
              </select>
            </td>
          </tr>

          <tr>
            <td>Длина, мм</td>
            <td>
              <input [(ngModel)]="newItem.length" type="number" class="card-text"
                     required #length="ngModel">
              <div *ngIf="length.invalid && (length.dirty || length.touched)"
                   class="alert alert-danger">
                <div *ngIf="length.errors.required">
                  Это поле обязательное
                </div>
              </div>
            </td>

            <td>Ширина, мм</td>
            <td>
              <input [(ngModel)]="newItem.width" type="number" class="card-text"
                     required #width="ngModel">
              <div *ngIf="width.invalid && (width.dirty || width.touched)"
                   class="alert alert-danger">
                <div *ngIf="width.errors.required">
                  Это поле обязательное
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Описание</td>
            <td colspan="3">
              <textarea [(ngModel)]="newItem.description" class="card-text form-control"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-outline-green waves-light" (click)="addItem()"
           data-dismiss="modal"
           *ngIf="!count.invalid && !length.invalid && !width.invalid"
        >Добавить</a>
        <a type="button" class="btn btn-outline-gray waves-light" data-dismiss="modal">Отменить</a>
      </div>
    </div>
  </div>
</div>
