<div class="card" *ngIf="order">
  <div class="card-header primary-color lighten-1 white-text">
    <h2>Заказ {{ order.number }}</h2>
  </div>
  <!--<div class="card-body">-->
    <!--<h4 class="card-title">Special title treatment</h4>-->
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <!--<a class="btn btn-deep-orange waves-light" mdbWavesEffect>Редактироать</a>-->
    <!--<a class="btn btn-deep-orange waves-light" mdbWavesEffect (click)="goBack()">Назад</a>-->
  <!--</div>-->
  <div class="card-body">
    <table class="table table-hover">
      <thead class="blue-grey lighten-4">
      <tr>
        <th>N</th>
        <th>Толщина</th>
        <th>Тип</th>
        <th>Длина</th>
        <th>Ширина</th>
        <th>Площадь</th>
        <th>Периметр</th>
        <th>Работы</th>
        <th>Кол-во</th>
        <th>Цена</th>
        <th>Сумма</th>
        <th>Примечание</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order.items let num = 'index'" >
        <th scope="row">{{num + 1}}</th>
        <td>{{item.material.depth}} мм</td>
        <td>{{item.material.type.name}}</td>
        <td>{{item.length}} мм</td>
        <td>{{item.width}} мм</td>
        <td>{{item.area}} мм2</td>
        <td>{{item.perimeter}} мм</td>
        <td>
          <table class="table table-hover">
            <tr *ngFor="let process of item.process">
              <td>{{process.type.name}}</td>
            </tr>
          </table>
        </td>
        <td>{{item.count}}</td>
        <td>{{item.material.price}} руб.</td>
        <td>{{item.summa}} руб</td>
        <td>{{item.desc}}</td>
        <!--<td>-->
          <!--<button class="delete" title="delete order"-->
                  <!--(click)="edit(item)">Edit</button>-->
        <!--</td>-->
        <!--<td>-->
          <!--<button class="delete" title="delete order"-->
                  <!--(click)="delete(item)">x</button>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card-body actions">
    <a *ngIf="disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="edit()">Редактировать</a>
    <a *ngIf="!disabled" class="btn btn-outline-green waves-light" mdbWavesEffect (click)="save()">Сохранить</a>
    <a *ngIf="!disabled" class="btn btn-outline-gray waves-light" mdbWavesEffect (click)="cancel()">Отменить</a>
    <a *ngIf="disabled" class="btn btn-outline-red waves-light" data-toggle="modal" data-target="#deleteModal"
       (click)="glass_service.id = processItem.id; glass_service.service = service; glass_service.isGoBack = true">Удалить</a>
    <a *ngIf="disabled" class="btn btn-outline-orange waves-light" mdbWavesEffect (click)="goBack()">Назад</a>
  </div>
</div>
