<h1>Заказы</h1>
<button (click)="add()"
        class="btn btn-outline-blue" type="button">
  Новый
</button>
<table class="table table-hover table-striped">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>Номер заказа</th>
    <th>Дата создания</th>
    <th>Описание</th>
    <th>Заказчик</th>
    <th>Точка приема заказов</th>
    <th>Скидка</th>
    <th>Сумма</th>
    <th>Сумма со скидкой</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of service.orders" routerLink="/order/{{item.id}}">
    <th scope="row">{{item.number}}</th>
    <td>{{item.lastUpdated | date: 'yyyy.dd.MM HH:ss'}}</td>
    <td>{{item.description}}</td>
    <td>{{item.clientName}}</td>
    <td>{{item.reception}}</td>
    <td>{{item.discount}}</td>
    <td>{{item.summa | number:'1.1-2'}} руб.</td>
    <td>{{item.discountSum | number:'1.1-2'}} руб.</td>
    <!--<td>-->
    <!--<a routerLink="/order/{{item.id}}">-->
    <!--<span class="badge">{{item.id}}</span> {{item.name}}-->
    <!--</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="print(item)">Print</button>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="edit(item)">Edit</button>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="delete(item)">x</button>-->
    <!--</td>-->
  </tr>
  </tbody>
</table>
