<div class="card" *ngIf="material">
  <div class="card-header primary-color lighten-1 white-text">
    <h2>Материал: {{ material.type.name }}</h2>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th class="column1"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Цвет</td>
        <td *ngIf="disabled">{{material.color.name}}</td>
        <td *ngIf="!disabled">
          <select (change)="onChangeColor($event.target.value)" class="btn btn-primary dropdown-toggle waves-light">
            <option value={{material.color.id}}>{{material.color.name}}</option>
            <option *ngFor="let item of materialColors" value={{item.id}}>{{item.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Толщина, мм</td>
        <td *ngIf="disabled">{{material.depth}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="material.depth" class="card-text" [disabled]="disabled">
        </td>
      </tr>
      <tr>
        <td>Длина, мм</td>
        <td *ngIf="disabled">{{material.length}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="material.length" class="card-text" [disabled]="disabled">
        </td>
      </tr>
      <tr>
        <td>Ширина, мм</td>
        <td *ngIf="disabled">{{material.width}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="material.width" class="card-text" [disabled]="disabled">
        </td>
      </tr>
      <tr>
        <td>Цена, руб.</td>
        <td *ngIf="disabled">{{material.price}}</td>
        <td *ngIf="!disabled">
          <input [(ngModel)]="material.price" class="card-text" [disabled]="disabled">
        </td>
      </tr>
      <tr>
        <td>Примечание</td>
        <td *ngIf="disabled">{{material.desc}}</td>
        <td *ngIf="!disabled">
          <textarea [(ngModel)]="material.desc" class="card-text form-control"></textarea>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-body actions">
    <!--<h4 class="card-title">Special title treatment</h4>-->
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
    <a *ngIf="disabled" class="btn btn-green waves-light" mdbWavesEffect (click)="edit()">Редактировать</a>
    <a *ngIf="!disabled" class="btn btn-green waves-light" mdbWavesEffect (click)="save()">Сохранить</a>
    <a *ngIf="!disabled" class="btn btn-white waves-light" mdbWavesEffect (click)="cancel()">Отменить</a>
    <!--<a *ngIf="disabled" class="btn btn-red waves-light" mdbWavesEffect (click)="delete()">Удалить</a>-->
    <a *ngIf="disabled" class="btn btn-red waves-light" data-toggle="modal" data-target="#deleteModal">Удалить</a>
    <a class="btn btn-deep-orange waves-light" mdbWavesEffect (click)="goBack()">Назад</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Внимание!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body alert alert-danger">
        Вы точно хотите удалить материал?
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary waves-light" data-dismiss="modal">Отменить</a>
        <a type="button" class="btn btn-red waves-light">Удалить</a>
      </div>
    </div>
  </div>
</div>
