<!--<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar ie-nav"-->
            <!--[containerInside]="false">-->
  <!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">-->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">

  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">GlassCloud</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
      <!--<a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link waves-light" mdbWavesEffect>Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link waves-light" mdbWavesEffect>Pricing</a>-->
      <!--</li>-->

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Настройки<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light submenu-caption" mdbWavesEffect><b>КАМПАНИИ</b></a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="company">Список кампаний</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="reception">Точки приема заказов</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="client">Клиенты</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light submenu-caption" mdbWavesEffect><b>МАТЕРИАЛЫ</b></a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="material">Список материалов</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="material-color">Справочник расцветок материалов</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="material-type">Справочник типов материалов</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light submenu-caption" mdbWavesEffect><b>РАБОТЫ</b></a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="process">Список работ</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="process-type">Справочник типов работ</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light submenu-caption" mdbWavesEffect><b>АДМИНКА</b></a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="user">Пользователи</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="permission">Разрешения</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Заказы<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/order">Список заказов</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item" *ngIf="currentReception[0]">
        <a class="nav-link">Точка приема заказов: {{currentReception[0].name}}
        </a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="/logout">Выход</a>-->
        <form (ngSubmit)="logout()">
          <input type="submit" class="form-control" value="Выйти">
        </form>
      </li>
    </ul>
    <!-- Search form -->
    <!--<form class="form-inline waves-light" mdbWavesEffect>-->
    <!--<div class="md-form mt-0">-->
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
    <!--</div>-->
    <!--</form>-->
    <!--<ul class="navbar-nav nav-flex-icons">-->
      <!--<li class="nav-item waves-light" mdbWavesEffect>-->
        <!--<a class="nav-link"><i class="fa fa-facebook"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item waves-light" mdbWavesEffect>-->
        <!--<a class="nav-link"><i class="fa fa-twitter"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item waves-light" mdbWavesEffect>-->
        <!--<a class="nav-link"><i class="fa fa-instagram"></i></a>-->
      <!--</li>-->
    <!--</ul>-->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
