<h1>Цвета материалов</h1>
<table class="table table-hover">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>Название</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of materialColors" routerLink="/material-colors/{{item.id}}">
    <td>{{item.name}}</td>
    <td>
      <button class="delete" title="delete order"
              (click)="edit(item)">Edit</button>
    </td>
    <td>
      <button class="delete" title="delete order"
              (click)="delete(item)">x</button>
    </td>
  </tr>
  </tbody>
</table>
