<h1>Работы</h1>
<button
  class="btn btn-outline-blue" type="button" data-toggle="modal" data-target="#addModal" (click)="add()">Новая
</button>
<table class="table table-hover">
  <thead class="blue-grey lighten-4">
  <tr>
    <th>Толщина материала</th>
    <th>Работа</th>
    <th>Материал</th>
    <th>Стоимость</th>
    <th>Примечание</th>
    <!--<th></th>-->
    <!--<th></th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of service.processes" routerLink="/process/{{item.id}}">
    <td>{{item.depth}} мм</td>
    <td>{{item.type.name}}</td>
    <td>
      <table class="table table-hover">
        <tr *ngFor="let material of item.material">
          <td>{{material.type.name}} : {{material.color.name}} : {{material.depth}} мм</td>
        </tr>
      </table>
    </td>
    <td>{{item.price | number:'1.1-2'}} руб.</td>
    <td>{{item.description}}</td>
    <!--<td>-->
    <!--<button class="delete" title="delete order" routerLink="/process/{{item.id}}">Edit</button>-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="delete" title="delete order"-->
    <!--(click)="delete(item)">x</button>-->
    <!--</td>-->
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" *ngIf="newItem">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Новый тип работы</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th class="column1"></th>
            <th></th>
            <th class="column1"></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Толщина, мм</td>
            <td>
              <input [(ngModel)]="newItem.depth" type="number" class="card-text" *ngIf="selectedMaterials.size == 0">
              <input [(ngModel)]="newItem.depth" type="number" class="card-text" *ngIf="selectedMaterials.size > 0"
                     disabled>
            </td>
            <td>Стоимость, руб.</td>
            <td>
              <input [(ngModel)]="newItem.price" type="number" class="card-text">
            </td>
          </tr>
          <tr>
            <td>Тип</td>
            <td>
              <select (change)="onChangeProcessType($event.target.value)" class="custom-select">
                <option selected *ngIf="!isEmptyMaterialsList && !idSelectedMaterial" value="-1">
                  Ваберите тип работы
                </option>
                <option *ngFor="let item of processTypeService.processTypes" value={{item.id}}>{{item.name}}</option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngIf="newItem.depth > 0">
            <td>Материал</td>
            <td>
              <select (change)="onChangeMaterial($event.target.value)" class="custom-select">
                <option selected *ngIf="!isEmptyMaterialsList && !idSelectedMaterial" value="-1">
                  Ваберите материал
                </option>
                <option *ngFor="let item of getMaterials(newItem.depth)" value={{item.id}}>
                  {{item.type.name}} : {{item.color.name}} : {{item.depth}}
                </option>
              </select>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngIf="selectedMaterials.size > 0">
            <td colspan="4">
              <div class="scroll-table">
                <table class="table-sm">
                  <tr *ngFor="let item of selectedMaterials">
                    <td colspan="2">{{item.type.name}} : {{item.color.name}} : {{item.depth}}</td>
                    <td>
                      <a type="button" class="btn-sm btn-outline-danger waves-light" (click)="removeMaterial(item.id)"
                         data-dismiss="modal">x</a>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td>Примечание</td>
            <td colspan="3">
              <textarea [(ngModel)]="newItem.description" class="card-text form-control"></textarea>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <a type="button" class="btn btn-outline-green waves-light" (click)="saveNew()"
           data-dismiss="modal">Сохранить</a>
        <a type="button" class="btn btn-outline-gray waves-light" data-dismiss="modal">Отменить</a>
      </div>
    </div>
  </div>
</div>
